---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Here's where I'll put my favorite projects, maybe top 3??
	</p>

    <hr>

    <p>
        Here's where I'll put literally every project I've ever finished!
    </p>


</Layout>
